
html, body {
  height: 100%;
  margin: 0; /* Prevents any default margin */
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */
  flex-direction: column;
  background-color: bisque;
}

#title, #description {
  text-align: center;
}

/* Center the content of the parent container */
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;  /* Ensures full screen height */
  margin: 0;  /* Remove any margin */
}

/* This ensures that the SVG is centered and resizes responsively */
svg {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

text {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#legend {
  position: absolute;
  top: 20px; /* Adjust vertical position */
  left: 20px; /* Adjust left position */
  width: 200px; /* Set a fixed width for the legend */
  height: auto;
  padding: 10px;
  overflow-y: auto; /* Allow scrolling if the legend becomes too long */
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* Style for the legend color boxes and labels */
#legend rect {
  margin-right: 10px;
}

#legend text {
  font-size: 12px;
  margin-left: 5px;
}
